CORS_ORIGIN=http://localhost:4200
JWT_SECRET=your_jwt_secret_key
GOOGLE_GENAI_API_KEY=your_google_genai_api_key
PORT=3000
REDIS_HOST=localhost
REDIS_PORT=6379
GOOGLE_CLIENT_ID=your_google_client_id
SMTP_HOST=smtp.example.com
SMTP_PORT=587
EMAIL_USER=your-gmail-username@gmail.com
EMAIL_PASS=your-16-character-app-password
KAFKA_BROKER=localhost:9092